@page "/page-not-found"
@model C3Apparel.Areas.Content.PageNotFound

@{
    Layout = "~/Features/Shared/_Layout.cshtml";
}
@section Styles {
    <link rel="stylesheet" href="/client/dist/styles/login-page.css" asp-append-version="true">
}

@section Scripts {
    <script src="/client/dist/scripts/login-page.js" asp-append-version="true"></script>
}

<div style="text-align: center">
    <h1>Page not found</h1>
</div>