@model C3Apparel.Web.Component.ViewComponents.PageHeader.HeaderViewModel
<header>
    <div class="wrapper">
        <a href="/">
            <img src="/client/dist/images/C3_logo_print-small-600_800x.webp" class="logo"/>
        </a>
        <div class="right-panel">
            @{
                await Html.RenderPartialAsync("~/Pages/Shared/_LoginPartial.cshtml");   
            }
        </div>

    </div>
</header>