@page "/admin/users/{id}"
@model AdminResetPassword
@{
    ViewData["Title"] = "Reset password";
}
@{
    Layout = "~/Features/Shared/_CMSLayout.cshtml";
}
<div class="main-caption">
    Reset Password
</div>
<a href="/admin/users" class="back-to-listings">&lt; Back to listings</a>
<div id="editMain">
    <div class="form">
        @if (!string.IsNullOrEmpty(Model.Message))
        {
            <div class="success-panel">@Model.Message</div>   
        }
    <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    
            <div class="field" data-validation="">
                <label class="label">UserName</label>
                <div class="control">
                    @Model.UserName
                    <input type="hidden" asp-for="Input.Id" value="@Model.UserId" />
                </div>
            </div>
            <div class="field" data-validation="">
                <label asp-for="Input.Password" class="label"></label>
                <div class="control">
                    <input asp-for="Input.Password" autocomplete="new-password" aria-required="true" type="password"/>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
            </div>
            <div class="field" data-validation="">
                <label asp-for="Input.ConfirmPassword" class="label"></label>
                <div class="control">
                    <input asp-for="Input.ConfirmPassword" autocomplete="new-password" aria-required="true" type="password"/>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
            <div>
                <button id="registerSubmit" type="submit" class="button is-link">Reset</button>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
