@page "/admin/new-user"
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
<style>
    .text-danger{
        color: #ff0000;
        display: block;
    }
    .validation-summary-errors{
        margin-bottom: 20px;
    }
</style>
@{
    Layout = "~/Features/Shared/_CMSLayout.cshtml";
}
<div class="main-caption">
    Create new User
</div>
<a href="/admin/users" class="back-to-listings">&lt; Back to listings</a>
<div id="editMain">
    <div class="form">
        @if (!string.IsNullOrEmpty(Model.Message))
        {
            <div class="success-panel">@Model.Message</div>   
        }
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="field" data-validation="">
                <label asp-for="Input.Email" class="label"></label>
                <div class="control">
                    <input asp-for="Input.Email" autocomplete="username" aria-required="true" type="text"/>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
            </div>
            <div class="field" data-validation="">
                <label asp-for="Input.Password" class="label"></label>
                <div class="control">
                    <input asp-for="Input.Password" autocomplete="new-password" aria-required="true" type="password"/>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
            </div>
            <div class="field" data-validation="">
                <label asp-for="Input.ConfirmPassword" class="label"></label>
                <div class="control">
                    <input asp-for="Input.ConfirmPassword" autocomplete="new-password" aria-required="true" type="password"/>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="field" data-validation="">
                <label asp-for="Input.Role" class="label"></label>
                <div class="control">
                    <div class="select">
                        <select asp-for="Input.Role">
                            <option value="Customer">Customer</option>
                            <option value="Admin">Admin</option>
                        </select>
                    </div>
                </div>
            </div>
            <div>
                <button id="registerSubmit" type="submit" class="button is-link">Register</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
