@page "/reset-password"
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
}
@{
    Layout = "~/Features/Shared/_Layout.cshtml";
}
<div class="main-caption">
    Reset your password
</div>

<div id="editMain">
    <div class="form">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
             <input asp-for="Input.Code" type="hidden" />
            <div class="field" data-validation="">
                <label asp-for="Input.Email" class="form-label"></label>
                <div class="control">
                    <input asp-for="Input.Email" autocomplete="username" aria-required="true" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
            </div>
             <div class="field" data-validation="">
                 <label asp-for="Input.Password" class="form-label"></label>
                 <div class="control">
                     <input asp-for="Input.Password" autocomplete="new-password" aria-required="true" />
                     <span asp-validation-for="Input.Password" class="text-danger"></span>
                 </div>
             </div>
              <div class="field" data-validation="">
                 <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                  <div class="control">
                      <input asp-for="Input.ConfirmPassword"autocomplete="new-password" aria-required="true" />
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                  </div>
             </div>
            <div>
                <button type="submit" class="button is-link">Reset Password</button>
            </div>
            
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
