$color-body:#333;

$color-primary:#000;
$color-header:#f5fd02;
$color-price:#15b885;
$color-primary-hover:#666;
$body-font-size: 12px;
$body-font-weight: 400;

$link-color: $color-primary;
$link-hover-color: #6CACE4;
$font-family-base: 'Helvetica Neue', Helvetica, 'Roboto', Arial, sans-serif;


$btn-focus-width: 2px;
