@import "variables";
@import "mixins";
@import "globals/normalize";
@import "globals/reboot";
@import "globals/forms";
@import "globals/buttons";
// Widgets
@import "../widgets/header/header";
@import "../widgets/footer/footer";

body{
    color:$color-body;
    font-size: $body-font-size;
    font-weight: $body-font-weight;
    .main-wrapper{
        padding:0 20px;
        
        
        .main-content{
            margin-left:auto;
            margin-right:auto;
            max-width:1400px;
        }
    }   
}

.wrapper{
    margin-left:auto;
    margin-right:auto;
}

.fixed_header{
    width: 400px;
    table-layout: fixed;
    border-collapse: collapse;

    thead {
        
        background: black;
        color:#fff;
        tr {
                display: block;
            }
    }
    tbody{
        display:block;
        width: 100%;
        overflow: auto;
        height: 100px;
      }

      
    th, td {
        padding: 5px;
        text-align: left;
        width: 200px;
    }
}

.error{
    color:#ff0000;
    display: none;
}

.show-error{
    .error{
        display: block;
    }
}


.field{
    display: flex;
    
    label{
        margin-right:20px;
        display: flex;
        /*align-items: center;*/
        font-size:1.4em
    }
}

.field-with-button{
    display: flex;
    flex-direction: column;
    @media(min-width:768px){
        flex-direction: row;
        align-items:flex-start;
    }
    
    .buttons{
        @media(min-width:768px){
            margin-left:20px;
        }
       
    }
}

.select:not(.is-multiple):not(.is-loading)::after{
    border-color:#000;
}

input[type=text]{
    height:2.5em;
}

input.text-number{
    width:60px;
    text-align: right;
    padding-right:10px;
}

.filter-container{

    margin-bottom:40px;

}

.main-caption{
    font-size: 30px;
    font-weight: bold;
    padding:0px 0 40px;
    text-align: center;

}

  
.listing-container{

    width:100%;
    overflow-x: auto;
    .listing-table{
        width:100%;
        td,th{
            border:1px solid black;
            padding:5px;

            &.thick{
                border-right:5px solid #000
            }

            &.thick-left{
                border-left:5px solid #000
            }

            &.center{
                text-align:center
            }
        }
        th.col-action{
            width:80px;
        }

        td.col-action{
            
           a{
            margin-right:10px;
           }
        }


        tr.row:nth-child(even){
            background-color: #eeeeee;
        }
        .listing-header{

            .col-header{
               font-weight: bold;
                padding:5px;                
                /*background-color: $color-header;*/
                text-align: center;
                vertical-align: middle;
                &.col-group{
                    text-align:center;
                }
                
                &.green{
                    background-color: $color-price;
                }
            }
        }

        .green{
            background-color: $color-price;
        }
        .row{

            .field{
                padding:5px;
            }
        }

    }

    .instruction{
        font-weight: bold;
        font-size:16px;
        text-align: center;
    }
}


.pagination{
    padding-top:20px;

    a{
        font-weight: bold;
    }

    .page {
        display: flex;
        align-items: center;
        div{
            padding:0 5px;
            font-weight: bold;
        }
    }
    
    
}

.disclaimer{
    font-size: 10px;
}

.modal-content{
    background-color:#fff;
    width:500px;
    padding: 40px;

    .modal-description{
        margin-bottom:20px;
        font-size:14px;
    }

}


.show{
    display:block;
  }