<!DOCTYPE html>
<html lang="en" xmlns:vc="http://www.w3.org/1999/html">

<head>
   
    <meta charset="UTF-8">
    <title>C-3 Apparel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/client/dist/styles/bulma.min.css">
    <link rel="stylesheet" href="/client/dist/styles/global.css">

    <!-- end head -->
    @await RenderSectionAsync("Styles", required: false)
</head>

<body>

<div class="main-wrapper">
    <div class="main-content" style="width:1500px">
        @RenderBody()
    </div>
</div>
 <script src="/dist/scripts/index.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", false)

</body>
</html>