@using Microsoft.AspNetCore.Mvc.TagHelpers
@using C3Apparel.Frontend.Data.Settings
@model C3Apparel.Features.Admin.ExchangeRates.ExchangeRatesListingPageViewModel
@{
   Layout = "_CMSLayout";
}
@section Styles {
   <link rel="stylesheet" href="/client/dist/styles/exchange-rates-listing.css" asp-append-version="true">
}

@section Scripts {
   <script src="/client/dist/scripts/exchange-rates-listing.js" asp-append-version="true"></script>
}
<div class="main-caption">
   Exchange Rates
</div>

<div id="main-app" data-endpoint="@Url.Action("GetExchangeRates", "ExchangeRates")"
     data-delete-endpoint="@Url.Action("DeleteExchangeRates", "ExchangeRates")"
     data-method="POST" data-item-per-page="@AdminSettings.DEFAULT_PAGE_SIZE">
   <div class="action">
      <a class="button is-link" href="/admin/exchange-rates/0">New Exchange Rate</a>       
   </div>
   <div id="listingMain">
      <div class="listing-container" v-if="grid.rows.length == 0">
         <div class="instruction">
            <p>No result for your search criteria</p>
         </div>
      </div>
      <div class="listing-container" v-if="grid.rows.length>0">
         <table class="listing-table brand-table">
            <thead class="listing-header">
            <tr>
               <th class="col-header col-action">

               </th>
               <th class="col-header col-brand">
                  Source Currency
               </th>
               <th class="col-header col-focus">
                  AUD Value
               </th>
               <th class="col-header col-currency">
                  NZD Value
               </th>
               <th class="col-header col-publish-date">
                  Valid From
               </th>
               <th class="col-header col-enabled">
                  Valid To
               </th>
            </tr>
            </thead>
            <tbody>
            <tr class="row" v-for="(row, index) in grid.rows">
               <td class="col-action center">
                  <a :href="'/admin/exchange-rates/' + row.id">
                     <i class="fa-solid fa-pen"></i>
                  </a>
                  <a href="#" v-on:click.prevent="loadDeleteConfirmation(row.id)" class="remove has-confirmation">
                     <i class="fa-solid fa-trash-can"></i>
                  </a>
               </td>
               <td nowrap="nowrap">{{row.sourceCurrency}}</td>
               <td >{{row.audValue}}</td>
               <td class="center">{{row.nzdValue}}</td>
               <td class="center">{{row.validFrom}}</td>
               <td class="center">{{row.validTo}}</td>
            </tr>
            </tbody>
         </table>
      </div>
      <div class="pagination" v-if="grid.rows.length>0">
         <div>
            <a v-if="grid.pagination.currentPage > 1" v-on:click="(event) => gotoPreviousPage(event)">&lt; Previous</a>
         </div>
         <div class="page">
            <div>Page </div>
            <div class="select">
               <select v-model="grid.pagination.currentPage" v-on:change="(event) => gotoPage(event)">
                  <option v-for="(n, index) in grid.pagination.totalPage">{{n}}</option>
               </select>
            </div>

            <div> of</div>
            <div>{{grid.pagination.totalPage}} </div>
         </div>
         <div>
            <a v-if="grid.pagination.currentPage < grid.pagination.totalPage" v-on:click="(event) => gotoNextPage(event)">Next &gt;</a>
         </div>
      </div>

      <div id="confirmation-delete" :class="!showDeletePopup ? 'modal' : 'modal is-active'">
         <div class="modal-background"></div>
         <div class="modal-content">
            <div class="modal-description">
               <p>Are you sure you want to delete?</p>
            </div>
            <div>
               <button id="btnDelete" class="button is-link" aria-label="delete" v-on:click.prevent="deleteExchangeRate()">Yes</button>
            </div>
         </div>
         <button id="modal-close" class="modal-close is-large" aria-label="close"></button>
      </div>
   </div>
</div>