@using Microsoft.AspNetCore.Mvc.TagHelpers
@model C3Apparel.Features.Admin.ExchangeRates.ExchangeRatesEditViewModel
@{
   Layout = "_CMSLayout";
}
@section Styles {
    <link rel="stylesheet" href="https://unpkg.com/@@vuepic/vue-datepicker@latest/dist/main.css">
    <link rel="stylesheet" href="/client/dist/styles/exchange-rates-edit.css">
}

@section Scripts {
    <script src="https://unpkg.com/vue@latest"></script>
    <script src="https://unpkg.com/@@vuepic/vue-datepicker@latest"></script>
   <script src="/client/dist/scripts/exchange-rates-edit.js" asp-append-version="true"></script>
}
<div class="main-caption">
    Add/Edit Exchange Rates
</div>
<a href="/admin/exchange-rates" class="back-to-listings">&lt; Back to listings</a>
<div id="editMain" data-method="POST" data-endpoint-get="@Url.Action("GetExchangeRateForEdit", "ExchangeRates")" data-endpoint-save="@Url.Action("SaveExchangeRate", "ExchangeRates")" data-id="@Model.ID">
    <partial name="~/Features/Admin/_FormValidationError.cshtml"/>
    <div class="form">
        <div class="action">
            <button id="btnSave" class="button is-link" v-on:click.prevent="saveExchangeRate()">Save</button>
        </div>
        <div class="field" data-validation="">
            <label class="label">Source currency</label>
            <div class="control">
                <div class="select">
                    <select v-model="rate.sourceCurrency">
                        <option value="">Please select</option>
                        <option value="EURO">EURO</option>
                        <option value="USD">USD</option>
                    </select>
                    </div>
            </div>
        </div>
        <div class="field" data-validation="">
            <label class="label">AUD Value</label>
            <div class="control">
                <input class="input" v-model="rate.audValue" type="text">
            </div>
        </div>            
        <div class="field" data-validation="">
            <label class="label">NZ Value</label>
            <div class="control">
                 <input class="input" v-model="rate.nzdValue" type="text">
            </div>
        </div>
        
        <div class="field" data-validation="">
            <label class="label">Valid from</label>
            <div class="control">
                <DatePicker v-model="rate.validFrom"  input-class-name="form-control" format="dd/MM/yyyy" model-type="dd/MM/yyyy"></DatePicker>
            </div>
        </div>
        <div class="field" data-validation="">
            <label class="label">Valid to</label>
            <div class="control">
               <DatePicker v-model="rate.validTo"  input-class-name="form-control" format="dd/MM/yyyy" model-type="dd/MM/yyyy"></DatePicker>
            </div>
        </div>
    
    </div>
</div>
    <script>
        import AdminMain from "../../../wwwroot/client/dist/admin-main.html";
        export default {
            components: {AdminMain}
        }
    </script>