<!-- @@master = /src/masterpages/default.html-->

<!-- @@block = head-->
<link rel="stylesheet" href="styles/price-list.css">
<!-- @@close-->

<!-- @@block = body-->
<nav>
    <a href="/admin/product-pricings">C3 Product Pricing</a>
    <a href="/admin/upload-pricings">Upload Pricings</a>
    <a href="/admin/price-list" class="active">Price List</a>
 </nav>
 <div class="main-caption">
    Price List
 </div>
  
 <div id="main-app" data-method="GET" data-endpoint="api/getPriceLists.json" data-endpoint-save="api/generatePriceList.json" data-item-per-page="50">
   <div v-if="showSuccess" class="success-panel">
      Form was saved.
   </div>
   <div v-if="formErrorMessage != ''" class="error-panel">
         {{formErrorMessage}}
   </div>

   <!--
    <div class="filter-container">
       <form>
          <div class="field">
             <label>Brand</label>
             <div class="control">
                <div class="select">
                   <select id="filterBrand" name="brand" v-model="form.brandId">
                      <option value="0">Select</option>
                      <option value="1">Pure Waste</option>
                   </select>
                </div>                
                <div :class="{error: true, show: !validation.brand}">Please select brand</div>
             </div>
          </div>
          <div class="buttons">
             <button class="button is-link" v-on:click.prevent="generatePriceList()">Generate Price List</button>
          </div>
  
          <div class="error"></div>
       </form>
    </div>
    -->
      
   <div id="listingMain">

      <div class="listing-container" v-if="grid.rows.length>0">
         <table class="listing-table">
            <thead class="listing-header">
            <tr>
               <th class="col-header col-brand">
                  Brand
               </th>
               <th class="col-header col-enabled">
                  Enabled
               </th>
               <th class="col-header col-publish-date">
                  C3 Published Price List Date
               </th>
               <th>Price Lists</th>
               <th class="single-button"></th>
            </tr>
            </thead>
            <tbody>
            <tr class="row" v-for="(row, index) in grid.rows">
               
               <td nowrap="nowrap">{{row.brand}}</td>
               <td class="center" v-html="row.enabled ? 'Yes' : 'No'"></td>
               <td class="center">{{row.publishDate}}</td>
               <td class="files">
                  <a :href="row.pdfauPriceUrl" target="_blank" v-if="row.pdfauPriceUrl">AUD PDF Price List</a>
                  <a :href="row.pdfnzPriceUrl" target="_blank" v-if="row.pdfnzPriceUrl">NZD PDF Price List</a>
                  <a :href="row.csvauPriceUrl" target="_blank" v-if="row.csvauPriceUrl">AUD CSV Price List</a>
                  <a :href="row.csvnzPriceUrl" target="_blank" v-if="row.csvnzPriceUrl">NZD CSV Price List</a>
               </td>
               <td><a href="#" class="button is-link" v-on:click.prevent="generatePriceList(row.brandId)">Publish Price List</a></td>
            </tr>
            </tbody>
         </table>
      </div>
      <div class="pagination" v-if="grid.rows.length>0">
         <div>
            <a v-if="grid.pagination.currentPage > 1" v-on:click="(event) => gotoPreviousPage(event)">&lt; Previous</a>
         </div>
         <div class="page">
            <div>Page </div>
            <div class="select">
               <select v-model="grid.pagination.currentPage" v-on:change="(event) => gotoPage(event)">
                  <option v-for="(n, index) in grid.pagination.totalPage">{{n}}</option>
               </select>
            </div>

            <div> of</div>
            <div>{{grid.pagination.totalPage}} </div>
         </div>
         <div>
            <a v-if="grid.pagination.currentPage < grid.pagination.totalPage" v-on:click="(event) => gotoNextPage(event)">Next &gt;</a>
         </div>
      </div>

   </div>
 </div>
<!-- @@close-->

<!-- @@block = scripts-->
<script src="scripts/price-list.js"></script>
<!-- @@close-->