@model int
<nav>
    <a href="/admin/product-pricings" class="@(Model == 1 ? "active" : "")">C3 Product Pricing</a>
    <a href="/admin/upload-pricings" class="@(Model == 2 ? "active" : "")">Upload Pricings</a>
    <a href="/admin/print-pricings" class="@(Model == 3 ? "active" : "")">Print C3 Pricings</a>
    <a href="/admin/inquiry" class="@(Model == 4 ? "active" : "")">Pricing Inquiry</a>
</nav>