@import "../../styles/variables";
//@import "../../widgets/xxx/xxx";

.listing-container{

    .listing-table{



        .col-brand{
        }

        .col-style{
        }

        .col-name{
        }

        .col-color{
            width: 120px;
        }
        .col-sizes{
            width: 120px;
        }
        .col-price{
            width: 50px;
            text-align:right;
        }

        .col-units{
            width: 50px;
            text-align:center

        }
    }

}

