@using Microsoft.AspNetCore.Mvc.TagHelpers
@using C3Apparel.Frontend.Data.Settings
@model C3Apparel.Features.Admin.ProductPricing.UploadPricingsPageViewModel
@{
   Layout = "_CMSLayout";
}
@section Styles {
   <link rel="stylesheet" href="/client/dist/styles/upload-pricing.css" asp-append-version="true">
}

@section Scripts {
   <script src="/client/dist/scripts/upload-pricing.js" asp-append-version="true"></script>
}
<partial name="~/Features/Admin/_ProductPricingNavigation.cshtml" model="2"/>
<div class="main-caption">
   Upload Pricings
</div>
 
<div id="main-app" data-endpoint-upload="@Url.Action("UploadPricingsFile", "ProductPricing")" data-method="POST">
   <div class="filter-container">
      <form>
         <div class="field">
            <label>Supplier</label>
            <div class="control">
               <div class="select">
                  <select id="filterBrand" name="brand" v-model="form.brandId">
                     <option value="0">Select</option>
                     @foreach (var brand in Model.Brands)
                     {
                        <option value="@brand.Value">@brand.Text</option>
                     }
                  </select>
               </div>
               <div :class="{error: true, show: !validation.supplier}">Please select supplier</div>
            </div>
         </div>
         <div class="field">
            <label>Delete all</label>
            <div class="control">
               <div>
                  <input type="checkbox" name="deleteAll" v-model="form.deleteAll">
               </div>
            </div>
         </div>
         <div class="field">
            <label>File</label>
            <div class="control">
               <div>
                   <input id="file" type="file" name="fileUpload" ref="file" >
               </div>
               <div :class="{error: true, show: !validation.file}">Please select csv file</div>
            </div>
         </div>
         <div class="buttons">
            <button id="buttonUpload" class="button is-link" v-on:click.prevent="upload()">Upload</button>
         </div>
 
         <div class="error"></div>
      </form>
   </div>
 
</div>