@import "../../styles/variables";
//@import "../../widgets/xxx/xxx";

.filter-container.inquiry-filter{

  margin-bottom:40px;
  .error{
    display:block;
  }
  .field label{
    width:120px
  }
  .field-row{
    margin-top:10px;
    display: flex;
    .field{
      margin-right:20px;
    }
    .field:last-child{
      margin-bottom:0.75em
    }
    label{
      margin-right:10px;
    }
  }

  .buttons{
    margin-top:20px;
  }

  .filter-settings{
    h3{
      font-size:1.7em;

      a.down svg{
        transform:rotate(180deg)
      }
    }

    .field{
      align-items: flex-start;
      margin-right:60px
    }
    table{
      th{
        padding:5px 10px;
        text-align: center!important;
      }
      td{
        padding:3px;
        text-align: center!important;
      }
    }

    .filter-contents{
      display:none;
      padding-top:20px;
      &.active{

        display:flex;
      }
    
      .filter-row{
        flex-grow: 1;
      }
      .filter-content-column{
        padding:0px 40px;
      }

      .filter-content-column:first-child{
        border-right: 1px solid #dbdbdb;
      }

      .filter-content-column:last-child{
        padding-right:0px;
      }

      .field-heading{
        font-size: 1.4em;
        margin-bottom:20px;
      }

      .tabs{
        li{
          &.is-active{
            font-weight: bold;
            a{

              border-bottom-color:#000
            }
          }
          a{
            text-decoration: none;
            
            color:#000;
          }
        }
      }

      
    }
  }
}


