@model C3Apparel.Web.Component.ViewComponents.PageFooter.PageFooterViewModel
<footer>
    <div class="footer-copyright">
        <div class="wrapper">
            <p class="text-small">&copy;2022 C-3 APPAREL</p>

        </div>
    </div>
</footer>